
*{
  font-family: 'ZCOOL XiaoWei', serif;
}


body{
  
    overflow-x: hidden !important;
}



.nav-link{
  text-align: center;
  /* color:grey! important; */
  /* font-size:14px;
  font-weight:300 */
}

#MainHome{
    position:relative;
    background-image: url(../images/asian_spices.jpg);
    background-size: cover;
    width: auto;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0;
    margin: 0; */
}

#HomePageBox{
text-shadow: 0 0  black;
background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
/* padding-top: 80%;  */
/* width:520px; */
height:210px;
width:100%;
max-width:520px;
/* margin-top: 150px; */
/* margin-left: 150px; */
 /* position: absolute;  */
  /* top: 20%;
 left: 35%;   */
/* right: 50%;  */

}



.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}


#productButton{
  position: absolute;
  bottom: 0;
 
}


.bi-basket2:hover{
  color:white
}
.bi-basket2{
  color:grey
}



#LoginHome{
  position:relative;
  background-image: url(../images/colorful_spices.jpg);
  background-size: cover;
  width: auto;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0;
  margin: 0; */
}

#ContactHome{
  position:relative;
  background-image: url(../images/spices_set.jpg);
  background-size: cover;
  width: auto;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;

}



#ProfileMain{

  position:relative;
  background-image: url(../images/tomato_sauce.jpg);
  background-size: cover;
  width: auto;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;

}


.accordion-button{
  background-color: black;
  color:white;
 
 
}
.accordion-button:focus {
   box-shadow: none;
   border-color: rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed) {
  background-color: black;
  color:white;
}
/* .accordion-button collapsed{
  background-color: black;
  color:white;
 
} */
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}



.leftImage{
  z-index: 1;
}
.rightBox{
  z-index: 1;
}
/* .heading{
    display: flex;
  align-items: center;
}

.sub-heading{
    display: flex;
  align-items: center;
} */
.cartWrap{
  display: flex;
}

.badge.cartBadge{
  background:red;
  height: 22px;
  width: 22px;
  border-radius: 22px;
  /* margin-right: 4px; */
  margin: auto 4px 8px auto;
  /* border-radius: 20px;
  line-height:15px;
  margin-right: 4px;
  align-items: center; */
}

.basketIcon{
  font-size: 24px;
  padding-top: 10px;
  align-items: center;
}